.list {
  &__container {
    display: flex;
    background: linear-gradient(to left, #6f9cc2, #8DC26F);
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
