.card {
  background-color: white;
  padding: 1px 15px;
  border-radius: 4px;
  line-height: 1;
  margin: 10px 0px;
  box-shadow: 0 1px 0 #ccc;
  border-top: 3px solid #5aac44;
  display: flex;
  justify-content: space-between;


  &__btn {
    display: none;
    border: none;
    color: black;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
    height: 20px;
    margin-top: 10px;
  }

  &__title {
    font-size: 14px;
    color: #8c8c8c;

  }

  &__description {
    font-size: smaller;
    color: #a076a6;
  }
}
