.list {
  width: 250px;
  background: #f7f7f7;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  margin:0 20px;
  cursor: pointer;

  &__header {
    // display: block;
    padding: 10px;
    justify-content: space-between;
    color: black;
  }

  &__title {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #5aac44;
    color: white;
    padding: 2%;
    display: inline;
    color: black;
  }

  &__content {
    overflow-x: hidden;
    padding: 0 10px;
  }
}
